<%= nested_form_for(@type) do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><%= f.text_field :name, :autocomplete => :off, placeholder: 'Enter Type' %></div>
  <hr>
  
  <%= f.fields_for :items do |ff| %>
    <p>
      <%= ff.text_field :name, :autocomplete => :off, :rows => 5, placeholder: 'Enter Item'  %>
      <%= ff.hidden_field :user_id, value: current_user.id %>
      <%= ff.link_to_remove "X" %>
  <% end %>
  <p><%= f.link_to_add "Add item", :items %></p>
  
  <%= f.submit "Create"%>

<% end %>
