<p id="notice"><%= notice %></p>

<h1 class="index_title">TYPES</h1>

<% @types.each do |type| %>
  <div id="index_wrapper">
    <div class="row">
      <div class="index_item">  
        <p><%= link_to type.name, edit_type_path(type.id) %></p>
      </div>
      <div class="trash">
        <p><%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), type, method: :delete, data: { confirm: "Are you sure?" }) %></p>
      </div>
    </div>
  </div>
<% end %>

<div id="index_wrapper">
  <div id="form">
    <%= form_for([@type, @types.build]) do |f| %>
	    <%= f.text_field :name, placeholder: "Add New Type" %>
	    <%= f.submit %>
    <% end %>
  </div>
</div>