<p id="notice"><%= notice %></p>

<h1>Listing Types</h1>

<table>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.id %></td>
        <td id=action_link><%= link_to 'Edit', edit_type_path(type) %></td>
        <td id=action_link><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_type_path %>
