<% @prices.each do |price| %>
  <div id="prices_wrapper">
    <div class="prices_row">
      <div class="prices_date">   <%= price.date_bought %></div>
      <div class="prices_item">   <%= price.item.name %></div>
	    <div class="prices_amount"> <%= link_to number_with_precision(price.amount, precision: 2), edit_price_path(price.id) %></div>
      <div class="trash">         <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), price, method: :delete, data: { confirm: "Are you sure?" }) %> </div>
    </div>
  </div>
<% end %>


<div>
  <div id="form">
    <%= form_for([@price, @prices.build]) do |f| %>
	      <%= f.text_field :amount, :autocomplete => :off, placeholder: "New Price..." %>
	      <%= f.collection_select(:item_id, Item.all.order('name'), :id, :name) %>
	      <%= f.date_select :date_bought, :autocomplete => :off %>
	      <%= f.submit %>
    <% end %>
  </div>
</div>



==============
from prices 
<br>

    <%= form_for([@price, @prices.build]) do |f| %>
    	<div class="field"><%= f.collection_select(:item_id, current_user.items.all.order(:name), :id, :name) %></div>
 	    <div class="field"><%= f.text_field :amount, :autocomplete => :off, placeholder: "New Price..." %></div>
	    <div class="field"><%= f.date_select :date_bought, :autocomplete => :off %></div>
	    <div class="field"><%= f.submit %></div>
    <% end %>

<br>