<p id="notice"><%= notice %></p>

<h1 class="index_title">Prices</h1>

<table>
  <tbody id="index_wrapper">
    <% @prices.each do |price| %>
      <tr class="row">
        <td class="index_item"><%= price.item_id %></td>
        <td class="index_item", id=amount><%= number_with_precision(price.amount, precision: 2) %></td>
        <td class="index_item"><%= price.date_bought %></td>
        <td class="trash"><p><%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), price, method: :delete, data: { confirm: "Are you sure?" }) %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price', new_price_path %>
