<p id="alert"><%= alert %></p>

<div id="form">
  <%= form_tag(summary_path, method: :get) do %>
  <p>
    <%= number_field_tag 'month', Time.now.month.to_s, min: '1' ,  max: '12' %>
    <%= number_field_tag 'year', Time.now.year.to_s, min: (Time.now.year - 2).to_s, max: Time.now.year.to_s %>
    <%= submit_tag "Summarise", :name => nil %>
  </p>
  <% end %>
</div>

<% if params[:month] != nil && params[:month] != "" %>

<h1 class="index_title">SUMMARY FOR <%= Date::MONTHNAMES[params[:month].to_i] %> <%= params[:year] %></h1>
<br>
    <% grand_total = 0 %>
    <% @types.each do |type| %>
      <% type_subtotal = 0 %>
      <% @items.each do |item| %>
        <% item_subtotal = 0 %>
         <% @prices.each do |price| %>
            <% item_subtotal += price.amount if price.item_id == item.id %>
         <% end %> 
         <% if item_subtotal != 0 && item.type_id == type.id %>
          <div id="summary_wrapper1">
            <div class="summary_row">
              <p class="summary_item"><%= item.name %></p>
              <p class="summary_amount"><%= number_with_precision(item_subtotal, precision: 2)%></p>
              <% type_subtotal += item_subtotal if item.type_id == type.id %>
            </div>
          </div>
        <% end %>
      <% end %>
        <div id="summary_wrapper2">
          <div class="summary_row" >
            <p class="summary_item"><%= type.name.upcase %></p>
            <p class="summary_amount"> <%= number_with_precision(type_subtotal, precision: 2) %></p>
            <% grand_total += type_subtotal %>
          </div>
        </div>
    <% end %>        
    <div id="summary_wrapper2">
      <div class="summary_row">
        <p> ----------------------------------------------- </p>
        <p class="summary_item"><%= 'MONTH TOTAL:' %></p>
        <p class="summary_amount"><%= number_with_precision(grand_total, precision: 2) %></p>
      </div>
    </div>
<% end %>
<br>
