<p id="notice"><%= notice %></p>

<h1 class="page_title">ITEMS</h1>

<% @items.each do |item| %>
  <div id="index_wrapper">
    <div class="row">
      <div class="index_item">  
        <p><%= link_to item.name, edit_item_path(item.id) %></p>
	    </div>
      <div class="trash">
        <p><%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), item, method: :delete, data: { confirm: "Are you sure?" }) %></p>      
      </div>
    </div>
  </div>
<% end %>

<div id="index_wrapper">
  <div id="form">
      <%= form_for([@item, @items.build]) do |f| %>
	      <%= f.text_field :name, placeholder: "New Item..." %>
	      <%= f.collection_select(:type_id, Type.all, :id, :name) %>
	    <%= f.submit %>
    <% end %>
  </div>
</div>