<%= nested_form_for(@shopping_day) do |f| %>
  <% if @shopping_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @shopping_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.date_select :date_bought, :autocomplete => :off  %>
  <hr>
  <div>
  <%= f.fields_for :prices do |ff| %>
    <p>
      <%= ff.collection_select(:item_id, current_user.items.all.order(:name), :id, :name, :rows => 5, prompt: 'Enter item') %>
      <%= ff.text_field :amount, :autocomplete => :off, :rows => 5, placeholder: 'Enter Price'  %>
      <%= ff.hidden_field :user_id, value: current_user.id %>
      <%= ff.link_to_remove "X" %>
  <% end %>
  </div>
  <p><%= f.link_to_add "Add another price", :prices, id: 'button' %></p>
  <%= f.submit "Save Shopping"%>
<% end %>