<header class="navbar navbar-fixed-top navbar-inverse">

    <%= link_to "GROCERIES", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Types",   types_path %></li>
        <li><%= link_to "Items",   items_path %></li>
        <li><%= link_to "Prices", root_path %></li>
        <li><%= link_to "Summary", input_path %></li>
      </ul>
    </nav>

</header>